@import 'Variables.scss';

.InputBar{
    width: 100%;
    background-color: $BJSSLightGrey;
    color: $BJSSDarkGrey;
    display: flex;
}

.InputText {
    flex-grow: 1;
    background:none;
    border:none;
    padding: 0.75rem;
    font-size: 1.2rem;
    font-family: 'Poppins';
}

.InputText:focus {
    outline: none;
}

.InputButton {
    background: none;
    border: none;
    opacity: 0.8;
    transition: all .15s linear;
}

.InputIcon {
    height: 2.4rem;
    padding-left: 1rem;
    padding-right: 0.75rem;
    
}

.InputButton:hover {
    opacity: 1;
    cursor: pointer;
}

.InputButton:active > img {
    transform: translate(0px,1px);
    filter: drop-shadow(0px 0px 5px #FFF);
}