$BJSSWhite: #ffffff;
$BJSSDarkGrey: #707070;
$BJSSLightGrey: #e2e2e2;
$BJSSOrange: #feb031;
$BJSSOrangeDarken: #e19b2a;
$BJSSOrangeLighten: #ffd859;
$BJSSBlue: #317ffe;
$BJSSGreen: #56e49b;
$BJSSPurple:#b364f0;
$border-radius: 4px;